<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>Hola bienvenido a mi API de monedero</p>
    <p>Presentado por {{ nombre }} {{ edad }} </p>
    <p>Los integrantes son : </p>

    <ol>
        {% for integrante in integrantes %}
        <li>
            <p>{{integrante}}</p>
        </li>
        {% endfor %}
    </ol>

    {{ integrantes }}
    <p>El usuario es {{ usuario.nombre }} </p>

    {# listar las selecciones de futbol en forma de un tabla #}
    <table border="10">
        <tr>
            <th>seleccion</th>
            <th>clasificado</th>
        </tr>
        {% for seleccion in selecciones %}
        <tr>
            <td>
                {{ seleccion.nombre }}
            </td>
            <td>
                {% if seleccion.clasificado == true %}
                'Nos vemos en Qatar'
                {% elif seleccion.clasificado is false %}
                'Con suerte en el proximo'
                {% else%}
                'Aun no se sabe'
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>